

@{
    ViewBag.Title = "Login";
}

@model Conference.Models.Participant

<style>
    body{
        height:100%;
    }
    .form-group {
        margin-bottom: 15px;
    }

    .control-label {
        display: block;
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .text-danger {
        color: #a94442;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
    }

    .btn-primary {
        color: #ffffff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    p {
        margin-top: 20px;
        font-size: 14px;
    }

        p a {
            color: #337ab7;
            text-decoration: none;
            font-weight: bold;
        }

            p a:hover {
                text-decoration: underline;
            }

      .content{
          display:flex;
          justify-content:space-evenly;
      }

      .right{
        padding-top:10px;
        width:25%;
        margin-left:-40px;
        
      }
</style>
<body>
    <h2 style="margin-left: 20%">Login</h2>
    <div class="content">
        <div class="left">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
                <p>You have not a account ? click here :@Html.ActionLink("SignIn", "SignIn", "Home")</p>
            }
        </div>
        <div class="right">
            <span>Accédez à un monde passionnant de connaissances,  développez votre réseau,  restez à jour dans votre domaine d'intérêt et de profiter des avantages d'une plateforme flexible et accessible. Rejoignez-nous dès maintenant et ne manquez pas l'occasion de vous enrichir intellectuellement et professionnellement. </span>
        </div>
    </div>
</body>


