@using System.Web.Mvc
@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/navigation.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="~/Content/images/logos.png">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        .no-decoration {
            text-decoration: none;
            color:white;
            font-weight:bolder;
        }

        li .no-decoration:hover {
            color: #4ae9e8;
        }

        .log {
            background-color: #4ae9e8;
            border-radius:5px;
            padding:10px;
        }

        .log .no-decoration:hover{
            color:black;
        }
    </style>
</head>
<body style="padding:0;">
  

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color :black;">
        <div class="container">
            @*Logo*@
            <a class="navbar-brand me-2" href="/">
                <img src="~/Content/images/logos.png"
                     height="30"
                     alt="MDB Logo"
                     loading="lazy"
                     style="margin-top: -10px;" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"> @Html.ActionLink("Listes Conferences", "GetConference", "Home", new { @class = "no-decoration" })</li>

                    @*Création de conférence*@
                    <li class="nav-item">

                        @if (Session["user"] == null)
                        {
                            <span style="text-decoration:none">@Html.ActionLink("Create a conference", "Login", "Home", new { @class = "no-decoration" })</span>
                        }
                        else
                        {
                            Conference.Models.Participant user = (Conference.Models.Participant)Session["user"];
                            if (@user.Nom == "admin")
                            {
                                @Html.ActionLink("Create a conference", "AddConference", "Home", new { @class = "no-decoration" })
                            }
                            else if (user.Nom == "superAdmin")
                            {
                                <span style="margin-right:5px">@Html.ActionLink("Create a conference", "AddConference", "Home", new { @class = "no-decoration" })</span>
                                <span>@Html.ActionLink("Gestion admin", "GetGestion", "Home", new { @class = "no-decoration" })</span>
                            }

                        }
                    </li>
                    @*Contact*@
                    <li class="nav-item"> @Html.ActionLink("Nous Contacter", "Contact", "Home", new { @class = "no-decoration" })</li>

                    @*Login et logout*@
                    <li class="nav-item">
                        @if (Session["user"] == null)
                        {
                            <span class="log">@Html.ActionLink("Login", "Login", "Home", new { @class = "no-decoration" })</span>

                        }
                        else
                        {
                            <span class="log" style="text-decoration:none;color:green">@Html.ActionLink("Logout", "Logout", "Home" , new { @class = "no-decoration" })</span>
                        }
                    </li>

                </ul>
            </div>
        </div>
    </nav>

   

    <div class="body-content" style="margin-top:94px;margin-left:0;margin-right:0;width:100%">
        
            @RenderBody()
     
    </div>
  
    <hr />
   
    <hr />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut efficitur leo.</p>
                </div>
                <div class="col-lg-4">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-envelope"></i> huddle@example.com</li>
                        <li><i class="fas fa-phone"></i> +212 66 66 66 66</li>
                        <li><i class="fas fa-map-marker-alt"></i> 123 Street, City, Country</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><hr />
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">© 2023 Your Company. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>